@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
body {
    place-items: center;
    font-family: "League Spartan", system-ui, sans-serif;
    background: #000;
}

use {
  text-transform: uppercase;
  fill: none;
  stroke-width: 5;
  letter-spacing: 3px;
  font: 100px system-ui, Impact;
  -webkit-animation: dash 10s linear infinite;
          animation: dash 10s linear infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: -100%;
  }
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: -100%;
  }
  to {
    stroke-dashoffset: 0%;
  }
}
